.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: #f5f5f5;
    color: #666;
    font-size: 12px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.spacer {
    flex: 1 1 auto;
}